# Configuration Django
SECRET_KEY=django-insecure-rassure-moi-secret-key-2024
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuration Google Colab - Serveur fonctionnel
COLAB_NOTEBOOK_URL=https://e1aa29361922a079c2.gradio.live
COLAB_API_KEY=

# Configuration RobotMali (si installation locale)
ROBOTMALI_ASR_URL=http://34.46.115.9:8080
MALIBA_TTS_URL=http://34.46.115.9:8081

# Configuration base de données
DATABASE_URL=sqlite:///db.sqlite3

# Configuration média
MEDIA_URL=/media/
MEDIA_ROOT=media/

# Configuration statique
STATIC_URL=/static/
STATIC_ROOT=static/ 